1.In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

Solution
element	value/expression

In [33]:
print("*   expression")
print("'hello' value")
print("-87.8   value")
print("-   expression")
print("/   expression")
print("+   expression")
print("6   value")

*   expression
'hello' value
-87.8   value
-   expression
/   expression
+   expression
6   value

2. What is the difference between string and variable?

Solution
•	String:
	A string is a collection of characters enclosed within single ' or " quotation marks.
	String is of Sequence data type.
•	Variable:
	Variables are containers for storing data values. Ex: A=25 [A=Variable ,25=Data].
	A variable name must start with s letter or the underscore (_) character.
	A Variable name cannot start with the Number.
	A variable is a name to which any value can be assigned.
	A variable can be of type integer or string or boolean etc.

Eg: name="Ram"
    user_name="Ram"
    name2="Ram"

In [1]:
# initializing a string

my_name = "Kesav"
print(type(my_name))

<class 'str'>

In [2]:
# initializing a string type variable
my_name = "Kesav"

# initializing a integer type variable
my_age = 26

print(type(my_name), type(my_age))

<class 'str'> <class 'int'>

3. Describe three different data types.

Solution
Numeric Data types
represents the data that has a numeric value.
main numeric data types are,
   *Integers
   *Floating-point
   *Complex Numbers
Boolean Data type
Boolean data type have two values either True or False.
Used to determine whether logic of a comparison is correct.
Sequence Data type
Sequence data type are collection of similar or different data types values.

In [4]:
# Numeric Data types examples

a = 57       # it is a integer
print(a)
b = 29.57  #  it is a floating point number
print(b)
print(complex(2, 2))    # represents (2+2j), complex number

57
29.57
(2+2j)

In [6]:
# Boolean Data types example

a = 57
b = 29 
print(a>b)     # results `True`
print(a<b)    # results `False`

True
False

In [11]:
# Sequence Data types example

print("Be a Good Person!") # string data type

Be a Good Person!

4. What is an expression made up of? What do all expressions do?

Expression is a combination of values, variables, operators or function calls. Expression is something that needs to be evaluated by the interpreter that produces a value.

In [15]:
# statement & expression
pi = 5.29 #statement
pi*2   #expression

10.58

This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

A statement does not yields any value.

In [16]:
# statement & expression
pi = 5.29 #statement
pi+2   #expression

7.29

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [17]:
bacon = 22
bacon + 1

23

In [18]:
print(bacon)

22

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

In [19]:
'spam'+'spamspam'

'spamspamspam'

In [21]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Solution
In python, there are some rules we need to follow when picking the name for a variable:

The first character must start with an UPPERCASE or LOWERCASE letter of alphabet or UNDERSCORE(_)
Rest of the name can consist of UPPERCASE or LOWERCASE letter of alphabet or UNDERSCORE(_) or DIGITS(0-9)
Spaces are not allowed. Instead, use snake_case to make variable names readable.
Names are case-sensitive. myworld and myWorld are not the same.
The name of the variable should be something meaningful that describes the value it holds, instead of being random characters.
Therefore,

100 is invalid whereas eggs is a valid variable name.

In [22]:
100 = "num_100"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3963641839.py, line 1)

In [24]:
eggs=10
eggs

10

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Solution
The int(),float(),str(), functions will evaluate to the integer,floating-point number,and string versions of the value passed to them

10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

Solution
The expression causes an error because 99 is an integer,and only string can be concatenated to other strings with the + operator.The correct way is I have eaten'+ str(99) +'burritos.'

In [29]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'